<!DOCTYPE html>
<html>
<head>
  <title>BonobosProject</title>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900|Playfair+Display',
  media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'application/favicon' %>
</head>
<body>

<%= yield %>

</body>
</html>
